.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 250px);
  gap: 50px 30px;
  margin: 15px;
  position: relative;
  

  &__card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    animation: flip-card 1s;  
  }

  .flip-card-back,
  .flip-card-front {
    background-color: var(--main-color);
    position: absolute;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .flip-card-front > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .flip-card-front > figcaption {
    text-align: center;
    padding: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--third-color);
  }

  .flip-card-back {
    background-color: var(--main-color);
    height: 269px;
    transform: rotateY(180deg);

    & > img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes flip-card {
  from {
    transform: rotateY(180deg);
    pointer-events: none;
  }
  to {
    transform: rotateY(0deg);
  }
}
