body{
    max-width: 100vw;
    font-family: var(--font-charlie);
}

main {
    background-image: url("./public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
}