
/*abstracts*/
@use "./abstract/variable";
@use "./abstract/mixins";

/*base*/
@use "./base/base";
@use "./base/reset";

/*components*/

@use "./components/header";
@use "./components/cards.scss";
@use "./components/wins.scss";
@use "./components/counter.scss";